<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Hey Admin, You good?</h1>
    {% if files %}
        <h3>Uploaded Files:</h3>
        <ul>
            {% for file in files %}
                <li>{{ file.file.name|cut:'uploads/' }} - Uploaded on {{ file.upload_date }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No files uploaded yet.</p>
    {% endif %}

    <h2>Let's upload the files!</h2>

    <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' email=admin.email %}">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit">Upload File</button>
    </form>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>