<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Hey User, You good? Below are the files available to download!!</h1>
    {% if files %}
        <h3>Uploaded Files:</h3>
        <ul>
            {% for file in files %}
                <li>
                    {{ file.file.name|cut:'uploads/' }}
                    <a href="{% url 'client:download_view' file.id %}" download>
                        <button>Download</button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No files uploaded yet.</p>
    {% endif %}

    <form method="post" action="{% url 'client:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
