<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client's Portal</title>
</head>
<body>
    <h1>Hi, if you have your account registered, please login or else continue with signup.</h1>
    <ul>
        <li>
            <h1><a href="http://127.0.0.1:8000/client/login">User Login</a></h1>
        </li>
        <li>
            <h1><a href="http://127.0.0.1:8000/client/signup">User Signup</a></h1>
        </li>
    </ul>
</body>
</html>